body {
    background-attachment: fixed;
    background-size: cover;    
    background-image: url(../images/background-640.png); /* Den minsta av våra bakgrunder. Det är dumt att ha en onödigt stor bild för en liten skärm. */
    color: white; 
    font-size: 14pt;
  }

  @media (min-width: 640px)  {
    
    body {
      background-image: url(../images/background-900.png);  /* Den nästminsta av våra bakgrunder. Det är dumt att ha en onödigt stor bild för en liten skärm. */         
      font-size: 14pt;     
    }
}

@media (min-width: 1366px) {
    
    body {
        background-image: url(../images/background-1920.png);     
        font-size: 15pt;           
    }
}