* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #212745;
  color: white;
}
.content {
  width: 80%; 
  margin: 0 auto;  
}

.container {  
  /* 4. Kan vi fixa footern här? Provar oss fram här och i footer tills det tycks funka.  */
  overflow: hidden;
  width: 100%;  
}

.left, .right {
  /* 1. Vi börjar med att sätta float */
  float: left; 
  /* 2. Vi vill också ha en padding på 2% */ 
  padding: 2%; 
  /* 5. Så hur gör vi så att left och right hamnar bredvid varandra trots padding? 
  Vi provar oss fram med lite olika siffror tills det verkar funka*/
  
}

.left {
  background: #5ECCF3;

  /* 5. Så hur gör vi så att left och right hamnar bredvid varandra trots padding? 
  Vi provar oss fram med lite olika siffror tills det verkar funka*/
  width: 75%;
  
  /* 7. Börjar se hyfsat ut, men hur gör vi om vi vill ha samma höjd på left och right? */
}

.right {
  background: #F14124;
  /* 5. Så hur gör vi så att left och right hamnar bredvid varandra trots padding? 
  Vi provar oss fram med lite olika siffror tills det verkar funka. */
  width: 25%;

  /* 7. Börjar se hyfsat ut, men hur gör vi om vi vill ha samma höjd på left och right? */
}

/* 6. Minns vi inte något om box-sizing...?  */

* {
  box-sizing: border-box;
}


.footer {
  /* 3. Ok så varför är footern där? Hur löser vi det? Vad kan vi för tricks? Kanske content spelar roll? */

  background: #212745;
  color: white;
}
