* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #212745;
  color: white;
}
.content {
  width: 80%; 
  margin: 0 auto;  

}

.container {  
  width: 100%;  
  overflow: hidden;  
}

.left, .right {
    float: left; 
    padding: 2em; 
  
}


* {
  box-sizing: border-box;
}

.left {
  background: #5ECCF3;
  width: 75%;
}

.right {
  background: #F14124;
  width: 25%;  
}

.footer {
  background: #212745;
  color: white;
  
  
}
