*{box-sizing:border-box;margin:0;padding:0}body{font-family:"Trebuchet MS",sans-serif}aside,section{min-height:3rem;padding:1rem}section.content-container aside{border:0;background:#490f49}ul{margin:0;padding:0}li{list-style-type:none}li{cursor:pointer}nav.menu{font-size:1.1rem;color:#3f4e4e;font-weight:700}p{margin-top:.6rem}a{color:#5f2d74}header{background-color:#ffefd5;color:#000}header nav{background:#d9d9ff;margin:0}header h1{text-align:center;font-size:3rem;padding:3rem;font-family:Georgia,"Times New Roman",Times,serif}#container header li{list-style:none;padding:1rem;border:0}li:hover{background:#d2d2ff}div section.content-container{max-width:50rem;padding:0;margin:0 auto;display:grid;grid-template-columns:repeat(9,1fr);min-height:30rem}#container nav.secondary{grid-column:1/3;background-color:#fff}.secondary li{padding:1rem;border-bottom:1px solid purple}section section{grid-column:3/8;background-color:#f2ecf3;padding:1rem;color:purple}section aside{grid-column:8/span 2;background:#96a4a8}.bottom{background-color:#3f4e4e}footer{background:#db7093}


/* *** Skriv din kod nedanför ***
*   Ändra inte i ovanstående CSS-kod.
*   Ändra inte HTML-koden
*   Kommentera/ta inte bort kod mellan övningar. 
*   Du får inte använda !important.
*/



/* *** 1. MENYER *** */

/* a)	Den översta menyn och footermenyn ska vara horisontella.  */


/* b)	Den översta menyn ska vara högerjusterad.   */


/* c)	List-elementen i den översta menyn ska ha en vit kant på vänstersidan. */


/* d) List-elementen i sido- och footermenyn ska bli ändra färg långsamt när man hovrar. */
/* d) del 1. */

/* d) del 2. */


/* f)	A-elementen in footermenyn ska vara vita, inte ha understreck, samt ha en padding.  */



/* ******************************************* */

/* *** 2. HEADER *** */
/* a)	Ge top-headern en övertonad bakgrund */


/* b)	Ge H1-elementet i top-headern en viss font och text-färg.  */


/* c) Gör så att Underrubrik 1 har samma bakgrund ut som headern */


/* d) Alla H2, förutom den i sido-innehållet ska ha samma utseende. */


/* e)	Den första H2 i main-sektionen ska inte ha någon övre margin. */



/* ******************************************* */

/* *** 3. CONTENT *** */
/* a)	Alla direkta barn i containern ska ha samma bakgrundsfärg. */


/* b)	Content-containern ska vara bredare.  */


/* c)	Sidoytan för reklam ska ha en grå kant till vänster. */



