*{box-sizing:border-box;margin:0;padding:0}body{font-family:"Trebuchet MS",sans-serif}aside,section{min-height:3rem;padding:1rem}section.content-container aside{border:0;background:#490f49}ul{margin:0;padding:0}li{list-style-type:none}li{cursor:pointer}nav.menu{font-size:1.1rem;color:#3f4e4e;font-weight:700}p{margin-top:.6rem}a{color:#5f2d74}header{background-color:#ffefd5;color:#000}header nav{background:#d9d9ff;margin:0}header h1{text-align:center;font-size:3rem;padding:3rem;font-family:Georgia,"Times New Roman",Times,serif}#container header li{list-style:none;padding:1rem;border:0}li:hover{background:#d2d2ff}div section.content-container{max-width:50rem;padding:0;margin:0 auto;display:grid;grid-template-columns:repeat(9,1fr);min-height:30rem}#container nav.secondary{grid-column:1/3;background-color:#fff}.secondary li{padding:1rem;border-bottom:1px solid purple}section section{grid-column:3/8;background-color:#f2ecf3;padding:1rem;color:purple}section aside{grid-column:8/span 2;background:#96a4a8}.bottom{background-color:#3f4e4e}footer{background:#db7093}


/* *** Skriv din kod nedanför ***
*   Ändra inte i ovanstående CSS-kod.
*   Ändra inte HTML-koden
*   Kommentera/ta inte bort kod mellan övningar. 
*   Du får inte använda !important.
*/



/* *** 1. MENYER *** */

/* a)	Den översta menyn och footermenyn ska vara horisontella.  */
nav.horizontal ul {
    display: flex;
    
}
/* b)	Den översta menyn ska vara högerjusterad.   */
nav.horizontal.main ul {
    justify-content: flex-end;
}

/* c)	List-elementen i den översta menyn ska ha en vit kant på vänstersidan. */
#container header nav.main li {
    border-left: 1px solid #fff;
}

/* d) List-elementen i sido- och footermenyn ska bli ändra färg långsamt när man hovrar. */
/* d) del 1. */
nav.fade li {
    transition: background-color 0.4s ease; 
}
/* d) del 2. */
nav.fade li:hover {
    background:rgb(73, 15, 73);
    color: white; 
}
  

/* f)	A-elementen in footermenyn ska vara vita, inte ha understreck, samt ha en padding.  */
footer.main nav.menu li a{
    /* inline block behövs för att padding ska funka */
    display: inline-block; 
    padding: 1rem; 
    text-decoration: none;
    color: white; 
}



/* *** 2. HEADER *** */
/* a)	Ge top-headern en övertonad bakgrund */
header.top {
    background: linear-gradient(279deg, rgba(73,15,73,1) 0%,  rgb(217, 217, 255) 50%);
}

/* b)	Ge H1-elementet i top-headern en viss font och text-färg.  */
header h1 {
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(73,15,73); 
}

/* c) Gör så att Underrubrik 1 har samma bakgrund ut som headern */
#main header {
    background: none; 
}

/* d) Alla H2, förutom den i sido-innehållet ska ha samma utseende. */
#main.content h2 {
    color: rgb(73, 15, 73);
    margin: .5rem 0; 
    font-weight: normal; 
    font-size: 1.5em; 

}

/* e)	Den första H2 i main-sektionen ska inte ha någon övre margin. */
section#main h2:first-child {
    margin-top: 0; 
}

/* *** CONTENT *** */
/* a)	Alla direkta barn i containern ska ha samma bakgrundsfärg. */
div#container section.content-container > * {
    background-color:rgb(242, 236, 243); 
}

/* maxbredden på content-containern ska vara 80em, istället för 50. */
div#container .content-container {
    max-width: 80rem; 
}

/* Sidoytan för reklam ska ha en grå kant till vänster */
#container section.content-container aside.ads {
    border-left: 1px solid rgb(150, 164, 168);
}

