.container {
    width: 100%;
    display: flex;

    gap: 1rem;
}
.container > div {
    flex-grow: 1;
    color: white;
    font-size: 3rem;
    padding: 2rem;
    height: 150vh;
    background-color: rgb(255, 123, 152);
}

.container > div.ok {
    background-color: lightgreen;
}
