/* #region  Grundläggande styling - rör ej! */

* {
    margin: 0;
    padding: 0;
}

.container>div {
    padding: 1em;
}

.header {
    background-color: #212745;
    color: white;
}

.left {
    background: #5ECCF3;
}

.right {
    background: #F14124;
}

.footer {
    background-color: #212745;
    color: #fff;
    min-height: 5em;
}

.extra-content {
    background-color: black;
    color: white;
    min-height: 10em;
}

img {
    width: 100px;
    height: 100px;
}


/* #endregion */


/* Skriv din CSS nedanför */