
* {
  margin: 0;
  padding: 0;
}
div {
  padding: 15px;  
}

.container {
  width: 80%;
  margin: 0 auto;  
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10em 30em 5em;
}


.header {
  background-color: #212745;
  color: white;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.left {
  background: #5ECCF3;
  grid-row: 2;
  grid-column: 1;

}

.right {
  background: #F14124;
  grid-row: 2;
  grid-column: 2;
}

.footer {
  background: #212745;
  color: white;
  grid-row: 3;
  grid-column: span 2;
}
