body {
    background-attachment: fixed;
    background-size: cover;    
    background-image: url(../images/background-640.png); /* Den minsta av våra bakgrunder. Det är dumt att ha en onödigt stor bild för en liten skärm. */
    color: white; 
    font-size: 14pt;
  }

@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {      
        background-image: url(../images/background-1366.png) ;
    }
}

@media screen and (min-width: 1200px) {
    body {      
        background-image: url(../images/background-1920.png) ;
    }
}