/* #region  Grundläggande styling - rör ej! */

* {
    margin: 0;
    padding: 0;
}

.container>div {
    padding: 1em;
}

p {
    margin-top: .3em;
}

.header {
    background-color: #212745;
    color: white;
}

.left-1 {
    background: #646869;
}

.left-2 {
    background: #5ECCF3;
}

.right-1 {
    background: #F14124;
}

.right-2 {
    background: #756d6c;
}

.extra-content {
    background: #4e326d;
    color: #fff;
}

.footer {
    background-color: #212745;
    color: #fff;
    min-height: 5em;
}


/* #endregion */


/* Skriv din CSS nedanför */

body {
    font-size: 16pt;
    line-height: 1.5em;
}

h3 {
    margin-top: .5em;
}

.container {
    max-width: 65em;
    margin: 0 auto;
}

.header {
    font-size: 1.5em;
    padding: 1em;
    display: flex;
    align-items: center;
}

.flex-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    /* Gör ingen skillnad hos "features" eftersom vi använder flex-grow för att fylla ut utrymmet */
    flex-wrap: wrap;
}

.flex-container>div {
    flex-basis: 8em;
    flex-grow: 1;
}

img {
    border: 1px solid #212745;
    border-radius: 1em;
    margin: 1em;
    width: 150px;
    height: 150px;
}

.features {
    margin: 1em;
    border: 1px solid #000;
    border-radius: .5em;
    padding: .5em 1.5em;
    background: rgb(150, 115, 184);
}

@media screen and (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10em auto auto 1fr 1fr;
        line-height: 1.5em;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        margin-bottom: 1em;
    }
    p {
        margin-top: .5em;
    }
    .header,
    .right-3,
    .right-2,
    .extra-content,
    .footer {
        grid-column: 1 / span 3;
    }
    .header {
        grid-row: 1;
    }
    .left-1 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        text-align: justify;
    }
    .left-2 {
        grid-row: 2;
        grid-column: 3;
    }
    .right-1 {
        grid-row: 3;
        grid-column: 3;
    }
    .right-1 .img-holder {
        text-align: center;
    }
    .right-2 {
        grid-row: 4;
        grid-column: 1 / span 3;
    }
    .right-3 {
        grid-row: 5;
    }
    .extra-content {
        grid-row: 6;
    }
    .footer {
        grid-row: 7;
    }
}

@media screen and (min-width: 1220px) {
    .content {
        grid-template-rows: 10em 2fr 1fr auto 2fr repeat(2, 1fr);
    }
    .left-1 {
        grid-row: 2 / span 2;
    }
    .left-1 img {
        width: 200px;
        height: 200px;
    }
    .right-1 {
        grid-row: 3;
        grid-column: 3;
    }
    .right-2,
    .right-3,
    .extra-content {
        grid-row: 4;
    }
    .right-2 {
        grid-column: 1;
    }
    .right-3 {
        grid-column: 2;
    }
    .extra-content {
        grid-column: 3;
    }
    .footer {
        grid-row: 5;
    }
}