/* Det där glappet kommer vi inte ifrån, det är webbläsaren som har fuffens för sig */
* {
  margin: 0;
  padding: 0;
}
div {
  padding: 15px;
  
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  /* Vi ville ha 75% resp. 25% stora kolumner eller hur? */
  
  
  /* Man kan också göra det med fr-enheten. Det detta gör i verkligheten är att dela upp ytan i fyra så att den första kolumnen kan få tre bitar och den sista 1 bit. 
  Obs! Detta är inte samma sak som fyra kolumner. Det är fortfarande bara två kolumner. Det är bara storleken på kolumnerna som räknas ut med fr. */
  
   
  /* Alla tre har en given storlek (em var en bra flexibel enhet, eller hur? */
  
}


.header {
  background-color: #212745;
  color: white;
  /* Headern bor på rad 1 */
  
  /* Och spänner över alla kolumner (2st) */
  

  
}

.content {
  background: #5ECCF3;
  /* Innehållet (.content) bor på den andra raden och den första kolumnen. */

}

.right {
  background: #F14124;
  /* Högerspalten (.right) bor på den andra raden och den andra kolumnen. */

}

.footer {
  background: #212745;
  color: white;
  /* Footern bor på rad 3 */

  /* Och spänner över alla kolumner (2st) */
}
