body {
  background-color: black;
  color: white;
}

/*1. Något med klassen left i en div med id footer */
/* #footer .left {
    color: darkgray;
}
div#footer .left{
    background: purple;
}

div#footer div.left {
    background: blue;
    border: white solid 1px;
} */

/*2. Något med klassen middle innuti en div */
/* div .middle {
    background: blue;
} */

/*3. Div med id footer och klass container */
/* div#footer.container {
    background: purple;
} */

/*4. Div med klassen left eller right, men inte middle */
div.left,
div.right {
    color: lightblue;
}


