body {
    background: #000;
    box-sizing: border-box;
}
div {
    padding: 2em;
}

/* Element med båda klasserna*/
.class1.class2 {
    background: #00f;
}

/*Element med class2 som ligger innuti element med class1*/
.class1 .class2 {
    background: #0ff;
}

/*Element som har class1 och/eller class2 */
.class1,
.class2 {
    border: 1px solid #fff;
}
.class1 {
    background: #ff0;
}

.class2 {
    background: #f00;
}

/*Samma regler med mellanslag och komma, fast det går inte att sätta två id:n på samma element, så utan mellanslag gäller inte.*/

#id1 {
    background-color: purple;
}

/*Kräver både id1 och id2, ska därför aldrig hända eftersom ett element bara har 1 id.*/
/*#id1#id2 {

}*/

/* element med id1 eller id2 */
#id1,
#id2 {
    background-color: darkgreen;
}

/* Element med id3 inuti element med id1 */

#id1 #id3 {
    background-color: chocolate;
}

/* Element med id3 och class1. Rätt ovanligt scenario, men kan inträffa när man vill förändra ett element 
med JavaScript och således förändra id3:s utseende med hjälp av en klass */
#id3.class2 {
    background-color: red;
}
