/* nav#main div.mobile.visible {
    background-color: aquamarine;
    color: blueviolet;
}

nav#main {
    background-color: bisque;
    border: 1px solid #000;
}

div.mobile.visible {
    background-color: darkgrey;
}
 */