/* Det finns padding och border från början för att göra elementen lättare att se. Ta bort dem om du vill. */

div {
    border: 1px solid #000;
    padding: 1em;
}


/* Skriv CSS för Övning 1 här nedanför */


/* Kommentera bort CSS för övning 1 och skriv CSS för Övning 2 här nedanför */


/* Kommentera bort CSS för övning 2 och skriv CSS för Övning 3 här nedanför */


/* Kommentera bort CSS för övning 3 och skriv CSS för Övning 4 här nedanför */


/* 
a)	Ge innehållet i div:ar med klassen left eller right textstorleken: 1.5rem.
b)	Ge nav-element inuti ett header element och div-element med klassen middle 
    bakgrundsfärgen ”navajowhite”. 
c)	Ge li-element inuti nav-element med id footer och innehållet i div-element med 
    klassen right en tre pixlar tjock border som har färgen ”deeppink”.
 */

div.left,
div.right {
    font-size: 1.5rem;
}

header nav,
div.middle {
    background-color: navajowhite;
}

nav.footer li,
div.right {
    border: 3px solid deeppink;
}


/*  
    b)	Ge nav-element inuti ett header element och div-element med klassen middle bakgrundsfärgen ”navajowhite”. 
    c)	Ge li-element inuti nav-element med id footer och innehållet i div-element med klassen right en tre pixlar tjock border som har färgen ”deeppink”.
 */


/* Kommentera bort CSS för övning 4 och skriv CSS för Övning 5 här nedanför */


/* Kommentera bort CSS för övning 5 och skriv CSS för Övning 6 här nedanför */