* {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: rgb(28, 71, 47);
}
h2 {
    font-family: 'Texturina', sans-serif;
}
form {
    max-width: 65rem;
    margin: 0 auto;
    margin-top: 7rem;
}
div.form-group {
    margin-top: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
div.form-group label {
    width: 25rem;
}
div.form-group .form-control {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    padding: 0.3rem;
    flex-grow: 1;
}
div.form-group select.form-control,
div.form-group input.form-control,
div.form-group button.form-control {
    border: 1px solid #556b2f;
    outline: 0;
}
div.form-group select.form-control:focus,
div.form-group input.form-control:focus,
div.form-group button.form-control:focus {
    box-shadow: 0 0 4px rgba(135, 157, 98, 1);
}
div.form-group select.form-control.error,
div.form-group input.form-control.error,
div.form-group button.form-control.error {
    border-color: rgb(145, 31, 31);
    box-shadow: 0 0 4px red;
    outline: 0;
}
div.form-group div.error-msg {
    font-size: 1rem;
    background: rgb(145, 31, 31);
    width: 100%;
    padding: 0 1rem;
    margin-top: 0.3rem;
    color: white;
    border-radius: 0.3rem;

    transition: all 0.5s ease-in-out;
    height: 0;
}
div.form-group div.error-msg.visible {
    height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
div.form-group:last-of-type {
    justify-content: flex-end;
}
div.form-group button.form-control {
    width: 10rem;
    background: #556b2f;
    color: white;
    flex-grow: 0;
}
div.form-group button.form-control:hover {
    background: rgb(85, 107, 47);
    background: linear-gradient(
        0deg,
        rgba(85, 107, 47, 1) 0%,
        rgba(123, 156, 66, 1) 100%
    );
}

form.login-form {
    color: darkslateblue;
    width: 23rem;
}
form.login-form div.login-form-group {
    display: flex;
    margin-bottom: 1rem;
}
form.login-form input {
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid darkslateblue;
    padding: 0.4rem;
    font-size: 16px;
    margin: 0;
    flex-grow: 1;
    font-family: Ubuntu;
}
form.login-form input:focus {
    outline: 0;
    background-color: rgb(230, 228, 255, 0.3);
}
form.login-form label.icon-label {
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid darkslateblue;
    border-right: 0;
    font-size: 15px;
    background-color: rgb(230, 228, 255);
    padding: 0.4rem;
    min-width: 2rem;
    text-align: center;
}
form.login-form i {
    margin: 0;
    padding: 0;
}
form.login-form .button-container {
    display: flex;
    justify-content: flex-end;
}
form.login-form button {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid darkslateblue;
    background-color: #e6e4ff;
    width: 25%;
}
form.login-form button:hover {
    background: rgb(230, 228, 255);
    background: linear-gradient(
        0deg,
        rgba(187, 181, 255, 1) 0%,
        rgba(230, 228, 255, 1) 100%
    );
}
