div {
    border: 1px solid #000;
    padding: .5rem;
    
}
body > div {
    margin: 1rem; 
}

/* Skriv kod för övning 1 nedan */
/* div#footer {
    border: 3px solid salmon; 
}
div.container {
    background-color: cornsilk; 
}
h3 {
    font-style: italic; 
}
p {
    color: blueviolet; 
} */

/* Kommentera bort koden för övning 1 och skriv sedan kod för övning 2 */
/* div .middle {
    border: 7px solid deepskyblue;

}
div.left h3 {
    color: tomato; 
} 

div.main a {
    color: black; 
}

div#footer .right {
    margin-left: 5rem; 

} */

/* Kommentera bort koden för övning 2 och skriv sedan kod för övning 3 */

/* div.left, div.middle {
    font-size: 1.3rem; 
    color: blue;
}
div.menu nav {
    background: navajowhite;
}

nav.footer li, div.right{
 border: 3px solid deeppink;    
}

.left.menu {
    background: #adbead; 
} */
/* Kommentera bort koden för övning 3 och skriv sedan kod för övning 4 */
/* nav.main ul, nav.footer{
    display: flex; 
    padding: 0; 

}
nav li  {
    list-style-type: none;
    padding: .3em; 
}

.menu li a {
    color: #5b9c91; 
    text-decoration: none;
    font-weight: bold; 
}

nav.footer > div {
    flex-basis: 100%; 
    padding: 1em; 
    
}

div.container * {
    border: 0;     
}

.container:not(#footer) {
    display: flex; 
    gap: 1rem; 
    padding: 0;
}
.container > h3 {
    display: none; 
}
.container div.left, .container div.right, .container div.middle {
    flex: 1 0; 
    padding: 1rem; 
}
.container .left {
    background: wheat;     
}

p {
    font-size: 17px; 
    line-height: 1.5em;
}
 */

