body { 
    font-size: 16pt;
}

h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
}

div {
    border: 1px solid #000;
    padding: 1em;
    margin: 0 auto;
    max-width: 40em;
}

p {
    line-height: 1.5em;
}