/* #region  Grundläggande styling - rör ej! */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px; 
}

.container>div {
    padding: 1em;
}

p {
    margin-top: .3em;
    font-size: 1.1rem; 
}

.header {
    background-color: #212745;
    color: white;
    font-size: 2.5em;
}
.container {
    max-width: 85rem; 
    margin: 0 auto; 
}

.main-1 {
    background: #646869;
}

.side-1 {
    background: #5ECCF3;
}

.side-2 {
    background: #F14124;
}

.sec-1 {
    background: #756d6c;
}

.extra-content {
    background: #4e326d;
    color: #fff;
}

.footer {
    background-color: #212745;
    color: #fff;
    min-height: 5em;
}

img {
    border: 1px solid #212745;
    border-radius: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.img-holder {
    text-align: center;
    padding: 1em 0;
}
.extra-content {
    text-align: center; 
}
.extra-content button {
    border: 1px solid green;
    outline: 0; 
    background: lightgreen; 
    padding: 1em 4em; 
    border-radius: 1em;
    text-align: center; 
    margin: 1em; 
}

/* Skriv din kod i dessa media queries  */

@media screen and (min-width: 900px) {


}

@media screen and (min-width: 1280px) {

}